 <!--Slider-->
 <div class="slider center">
    <ul class="slides">
        <li><img src="./assets/images/sliderFiccion.jpg" alt="imagen1" /></li>
        <li><img src="./assets/images/terror.jpg" alt="imagen2" /></li>
        <li><img src="./assets/images/historia.jpg" alt="imagen3" /></li>
        <li><img src="./assets/images/misterio.jpg" alt="imagen4" /></li>
    </ul>
    <div class="buttons">
        <div class="next">&#10095;</div>
        <div class="prev">&#10094;</div>
    </div>
</div>
