<section id="signup-form" class="center form">
    <div id="logo-formulario">
        <img src="./assets/images/logo.png"/>
    </div>

    <form class="campos-form" [formGroup]="form" (ngSubmit) = "onSubmit(form.value)">
        <div class="form-group">
            <input type="text" name="nombre" placeholder="Nombre" formControlName ="nombre"/>
            <div class="error" *ngIf="form.get('nombre').hasError('required') && (form.get('nombre').dirty || form.get('nombre').touched)" >
                Este campo es obligatorio
            </div>        
        </div>

        <div class="form-group">
            <input type="text" name="apellido1" placeholder="Primer Apellido" formControlName ="apellido1" />
            <div class="error" *ngIf="form.get('apellido1').hasError('required') && (form.get('apellido1').dirty || form.get('apellido1').touched)" >
                Este campo es obligatorio
            </div>  
        </div>

        <div class="form-group">
            <input type="text" name="apellido2" placeholder="Segundo Apellido" formControlName ="apellido2" />
            <div class="error" *ngIf="form.get('apellido2').hasError('required') && (form.get('apellido2').dirty || form.get('apellido2').touched)" >
                Este campo es obligatorio
            </div> 

        </div>

        <div class="form-group">
            <input type="text" name="dni" placeholder="DNI" formControlName ="dni" />
            <div class="error" *ngIf="form.get('dni').hasError('required') && (form.get('dni').dirty || form.get('dni').touched)" >
                Este campo es obligatorio
            </div> 

        </div>
        <div class="form-group">
            <input type="text" name="direccion" placeholder="Direccion " formControlName ="direccion" />
            <div class="error" *ngIf="form.get('direccion').hasError('required') && (form.get('direccion').dirty || form.get('direccion').touched)" >
                Este campo es obligatorio
            </div> 
        </div>

        <div class="form-group">
            <input type="text" name="correo" placeholder="Correo Electrónico" formControlName ="correo" />
            <div class="error" *ngIf="form.get('correo').hasError('required') && (form.get('correo').dirty || form.get('correo').touched)" >
                Este campo es obligatorio
            </div> 
        </div>


        <div class="form-group">
            <input type="text" name="poblacion" placeholder="Poblacion" formControlName ="poblacion" />
            <div class="error" *ngIf="form.get('poblacion').hasError('required') && (form.get('poblacion').dirty || form.get('poblacion').touched)" >
                Este campo es obligatorio
            </div> 

        </div>

        <div class="form-group">
            <input type="text" name="provincia" placeholder="Provincia" formControlName ="provincia"  />
            <div class="error" *ngIf="form.get('provincia').hasError('required') && (form.get('provincia').dirty || form.get('provincia').touched)" >
                Este campo es obligatorio
            </div> 

        </div>

        <div class="form-group">
            <input type="number" name="edad" placeholder="Edad" formControlName ="edad" />
            <div class="error" *ngIf="form.get('edad').hasError('required') && (form.get('edad').dirty || form.get('edad').touched)" >
                Este campo es obligatorio
            </div> 

        </div>

        <div class="radiobuttons"  >
            <input type="radio" name="sexo" value="hombre"  formControlName ="sexo" /> Hombre
            <input type="radio" name="sexo" value="mujer"  formControlName ="sexo"/> Mujer
            <input type="radio" name="sexo" value="otro"  formControlName ="sexo"/> Otro
        </div>
        <div class="error" *ngIf="form.get('sexo').hasError('required') && (form.get('sexo').dirty || form.get('sexo').touched)" >
            Este campo es obligatorio
        </div> 


        <div class="clearfix"></div>
        <input type="submit" value="CREAR CUENTA"/>
    </form>

    <hr width="75%" size="1px" color="gray">

    <a [routerLink] = "['/login']" class="center btn"> ¿YA TIENES UNA CUENTA?</a> 
</section>